.DS_Store
git-info.txt
node_modules
npm-debug.log
src/public/bower_components
src/public/css/**/*.css
src/public/css/*.css
src/content/i18n/*.json
src/public/js/all.js
src/public/js/vendor.js
src/public/bundle.js
