<div class="readAction">
    <h1>{{ __.Dashboard.modules.configuration.list }}</h1>

    {{{
        renderTable
            tableSchema = tableSchema
    }}}

    {{{
        pagination
    }}}
</div>
