.Header
    background-color #292333 // Move color to vars
    border-bottom 4px solid $headerCodes
    height 85px

    .wrapper
        height 100%
        margin 0 auto
        width 80%

        .Logo
            float left
            height 70px
            margin-top 10px
            width 50px

            img
                height auto
                max-width 300px
                vertical-align middle
                width 50px

        .MainNav
            color $white
            float left
            height 70px
            margin-top 10px
            width 65%

            ul
                float left
                line-height 0
                list-style-type none
                margin 0
                padding 0
                position relative
                top 15px

                li
                    display inline-block
                    float left
                    margin 0
                    padding 0
                    position relative

                    a
                        $font(Oswald, 16px, 700)
                        color rgba(255, 255, 255, 0.9)
                        display block
                        line-height 32px
                        padding 0 15px
                        text-decoration none
                        text-transform capitalize

                        &:hover
                            color #b2b9d6
                            cursor pointer

                        i
                            $fontSize(12px)


        .Search
            $border(red)
            float left
            height 70px
            margin-top 10px
            position: relative;
            width: 275px;

            .search
                $colorOpacity(0.9)
                background $white
                border-width 0px
                box-sizing border-box
                float right
                height 32px
                margin-top 15px
                opacity 0
                outline none
                padding 6px 8px
                position absolute
                right 40px
                transition all .5s ease
                width 200px

                &.expanded
                    max-width 200px
                    opacity 1

            .icon
                $colorOpacity(0.9)
                fontSize(22px)
                background #292333
                height 27px
                margin-top 15px
                padding-top 5px
                position absolute
                right 0
                text-align center
                width 40px

                &.iconExpanded
                    background-color $white
                    color red

        .SignIn
            width 10%
            height 55px
            float right
            padding-top 10px
            color #2e293c
