.alert
    fontSize(13.5px)
    display inline-block
    border 1px solid transparent
    margin-bottom 20px
    margin-top 20px
    padding 15px

    h4
        margin-top 0
        color inherit

    .link
        font-weight bold

    & > p
        & + p
            margin-top 5px

    &.success
        color #3c763d
        background-color #dff0d8
        border-color #d6e9c6

        hr
            border-top-color #c9e2b3

        .link
            color #2b542c

    &.info
        color #31708f
        background-color #d9edf7
        border-color #bce8f1

        hr
            border-top-color #a6e1ec

        .link
            color #245269

    &.warning
        color #8a6d3b
        background-color #fcf8e3
        border-color #faebcc

        hr
            border-top-color #f7e1b5

        .link
            color #66512

    &.danger
        color #BF0000
        background-color #FCDCDC
        border-color #ebccd1

        hr
            border-top-color #e4b9c0

    .link
        color #843534

.alert > p
.alert > ul
    margin-bottom 0
