.alert
    fontSize(13.5px)
    display inline-block
    border 1px solid transparent
    margin-bottom 20px
    margin-top 20px
    padding 15px

    h4
        margin-top 0
        color inherit

    .link
        font-weight bold

    & > p
        & + p
            margin-top 5px

    &.success
        alert($successColor, $successBg, $successBc, $successTopBorder, $successLink)

    &.info
        alert($infoColor, $infoBg, $infoBc, $infoTopBorder, $infoLink)

    &.warning
        alert($warningColor, $warningBg, $warningBc, $warningTopBorder, $warningLink)

    &.danger
        alert($dangerColor, $dangerBg, $dangerBc, $dangerTopBorder, $dangerLink)

.alert
    & > p
    & > ul
        margin-bottom 0
