.flag
    background url('../../assets/flags/flags.png') no-repeat
    display inline-block
    height 11px
    width 16px

    &.br
        background-position 0 0

    &.gf
        background-position -32px 0

    &.es
        background-position 0 -11px

    &.de
        background-position -16px 0

    &.en
        background-position -16px -11px
