@font-face
    font-family 'Comfortaa'
    src url('/assets/fonts/Comfortaa/font.woff2') format('woff2'),
        url('/assets/fonts/Comfortaa/font.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Open Sans'
    src url('/assets/fonts/OpenSans/font.woff2') format('woff2'),
        url('/assets/fonts/OpenSans/font.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'Oswald'
    src url('/assets/fonts/Oswald/font.woff2') format('woff2'),
        url('/assets/fonts/Oswald/font.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'SourceCodePro'
    src url('/assets/fonts/SourceCodePro/font.woff2') format('woff2'),
        url('/assets/fonts/SourceCodePro/font.woff') format('woff')
    font-weight normal
    font-style normal
