/* Vendors Prefixes */
vendor-prefixes = o ms moz webkit khtml official

/* General Colors */
$bg          = #FEFEF4
$darkGray    = #313233
$gray        = #666
$lightGray   = #E8E8E8
$white       = #FFF
$almostWhite = #F5F5F5
$black       = #000
$almostBlack = #111
$yellow      = #F6D42A
$red         = #fc1c49
$blue        = #00A2D9
$green       = #1D9A90

/* Font weights */
$fontWeightLighter = 100
$fontWeightLight   = 300
$fontWeightNormal  = 400
$fontWeightRegular = 500
$fontWeightBold    = 700
$fontWeightHeavy   = 900

/* Buttons */
$defaultStartColor  = #F9F9F9
$defaultEndColor    = #E9E9E9
$defaultBorderColor = #DCDCDC
$defaultShadowColor = #FFFFFF

$sucessStartColor   = #74AD5A
$successEndColor    = #68A54B
$successBorderColor = #3B6E22
$sucessShadowColor  = #9ACC85

$primaryStartColor  = #007DC1
$primaryEndColor    = #0061A7
$primaryBorderColor = #124D77
$primaryShadowColor = #54A3F7

$dangerStartColor  = #F24537
$dangerEndColor    = #C62D1F
$dangerBorderColor = #D02718
$dangerShadowColor = #F5978E

$warningStartColor  = #FFEC64
$warningEndColor    = #FFAB23
$warningBorderColor = #FFAA22
$warningShadowColor = #FFF6AF

$darkStartColor  = #45484D
$darkEndColor    = #000000
$darkBorderColor = #222222
$darkShadowColor = #666666
