/* General Colors */
$bg           = #FEFEF4
$darkGray     = #313233
$gray         = #666
$lightGray    = #DDD
$lightestGray = #EEE
$white        = #FFF
$almostWhite  = #F5F5F5
$black        = #000
$almostBlack  = #111
$yellow       = #F6D42A
$red          = #FC1C49
$blue         = #42B3EB
$green        = #1D9A90
$headerDarkBlue = #172B44

/* Logo and menu options */
$blackHeader    = #29292a
$blueCode  = #005f95
$grayLink       = #7d7d7d
$almostBlack    = #1f1b1b
$blackLinkHover = #202020

/* Pagination */
$darkGrayPagination = #313031
$bluePagination     = #004782

/* States colors (alerts & tables) */
$successColor     = #3C763D
$successBg        = #DFF0D8
$successBc        = #D6E9C6
$successTopBorder = #C9E2B3
$successLink      = #2B542C

$infoColor     = #31708F
$infoBg        = #D9EDF7
$infoBc        = #BCE8F1
$infoTopBorder = #A6E1EC
$infoLink      = #245269

$warningColor     = #8A6D3B
$warningBg        = #FCF8E3
$warningBc        = #FAEBCC
$warningTopBorder = #F7E1B5
$warningLink      = #665121

$dangerColor     = #BF0000
$dangerBg        = #FCDCDC
$dangerBc        = #EBCCD1
$dangerTopBorder = #E4B9C0
$dangerLink      = #843534

/* Font weights */
$fontWeightLighter = 100
$fontWeightLight   = 300
$fontWeightNormal  = 400
$fontWeightRegular = 500
$fontWeightBold    = 700
$fontWeightHeavy   = 900

/* Buttons */
$defaultStartColor  = #F9F9F9
$defaultEndColor    = #E9E9E9
$defaultBorderColor = #DCDCDC
$defaultShadowColor = #FFFFFF

$sucessStartColor   = #74AD5A
$successEndColor    = #68A54B
$successBorderColor = #3B6E22
$sucessShadowColor  = #9ACC85

$primaryStartColor  = #007DC1
$primaryEndColor    = #0061A7
$primaryBorderColor = #124D77
$primaryShadowColor = #54A3F7

$dangerStartColor  = #F24537
$dangerEndColor    = #C62D1F
$dangerBorderColor = #D02718
$dangerShadowColor = #F5978E

$warningStartColor  = #FFEC64
$warningEndColor    = #FFAB23
$warningBorderColor = #FFAA22
$warningShadowColor = #FFF6AF

$darkStartColor  = #45484D
$darkEndColor    = #000000
$darkBorderColor = #222222
$darkShadowColor = #666666

/* Media Queries */
$s    = 'only screen and'
$l    = 'orientation: landscape'
$maxW = 'max-width:'
$minW = 'min-width:'
$maxWDevice = 'max-device-width:'
$minWDevice = 'min-width-width:'

/* General breakpoints */
$desktopBreakpoint = 1024px;
$tabletBreakpoint = 768px;
$mobileBreakpoint = 640px;
$mobileLandscapeBreakpoint = 736px;

/* Devices breakpoints */
$iPadW =  768px
$iPadH = 1024px
$iP5SW =  320px
$iP5SH =  568px
$iP6W  =  375px
$iP6H  =  667px
$iP6PW =  414px
$iP6PH =  736px

/* General Devices */
Desktop = $s + ' (' + $minW + $desktopBreakpoint + ')'
Tablet  = $s + ' (' + $maxW + $tabletBreakpoint + ')'
TabletLandscape = $s + ' (' + $maxW + $tabletBreakpoint + ') and (' + $l + ')'
Mobile  = $s + ' (' + $maxW + $mobileBreakpoint + ')'
MobileLandscape  = $s + ' (' + $maxW + $mobileLandscapeBreakpoint + ') and (' + $l + ')'

/* Specific Devices */
iPad               = $s + ' (' + $maxWDevice + $iPadW + ')'
iPadLandscape      = $s + ' (' + $maxWDevice + $iPadH + ') and (' + $l + ')'
iPhone6P           = $s + ' (' + $maxWDevice + $iP6W  + ')'
iPhone6PLandscape  = $s + ' (' + $maxWDevice + $iP6PH + ') and (' + $l + ')'
iPhone6            = $s + ' (' + $maxWDevice + $iP6W  + ')'
iPhone6Landscape   = $s + ' (' + $maxWDevice + $iP6H  + ') and (' + $l + ')'
iPhone5S           = $s + ' (' + $maxWDevice + $iP5SW  + ')'
iPhone5SLandscape  = $s + ' (' + $maxWDevice + $iP5SH  + ') and (' + $l + ')'
