/* General Colors */
$darkGray           = #222
$strongGray         = #444
$lightGray          = #b6b6b6
$lighterGray        = #F0F0F0
$almostLightGray    = #d7d7d7
$gray               = #f1ece9
$white              = #FFF
$darkWhite          = #FEFEFE
$almostWhite        = #F5F5F5
$black              = #000
$darkBlue           = #069
$whiteGray          = #d5d5d5
$headerBlack        = #262b30
$blueHover          = #007cc3
$blackGray          = #b3b3b3

/* Site */
$blueFacebook        = #3B5999
$blueBorderFacebook  = #193777
$blueTwitter         = #55acee
$blueBorderTwitter   = #3E87BC
$blueLinkedin        = #0e76a8
$blueBorderLinkedin  = #1D4D78
$redGooglePlus       = #dd4b39
$redBorderGooglePlus = #B43525
$redYoutube          = #ED4632
$grayGithub          = #171515
$grayBorderGithub    = #0C1214
$blueInstagram       = #3f729b
$blueSelected        = #2d75a2
$featuredGreen       = #78a300
$footerBlue          = #5498dc

/* Logo and menu options */
$blackHeader    = #29292a
$blueUnReactor  = #005f95
$blackUnReactor = #3b3b3b
$grayLink       = #7d7d7d
$almostBlack    = #1f1b1b
$blackLinkHover = #202020

/* Buttons */
$defaultBg             = #E6E6E6
$defaultBorder         = #ADADAD
$primaryBg             = #428BCA
$primaryBorder         = #357EBD
$primaryBgHover        = #3071A9
$primaryBorderHover    = #285E8E
$sucessBg              = #5CB85C
$sucessBorder          = #27763A
$sucessBgHover         = #449D44
$sucessBorderHover     = #398439
$infoBg                = #3498DB
$infoBorder            = #17374D
$infoBgHover           = #1C7DC3
$infoBorderHover       = #3B68A9
$infoDisabledBg        = #5BC0DE
$infoDisabledBorder    = #46B8DA
$warningBg             = #F0AD4E
$warningBorder         = #EEA236
$warningBgHover        = #EC971F
$warningBorderHover    = #D58512
$warningDisabledBg     = #F0AD4E
$warningDisabledBorder = #EEA236
$dangerBg              = #DA4D49
$dangerBorder          = #762727
$dangerBgHover         = #C9302C
$dangerBorderHover     = #AC2925
$dangerDisabledBg      = #D9534F
$dangerDisabledBorder  = #D43F3A
$redPink               = #e06161

/* Font weights */
$fontWeightLighter = 100
$fontWeightLight   = 300
$fontWeightNormal  = 400
$fontWeightRegular = 500
$fontWeightBold    = 700
$fontWeightHeavy   = 900
