.Content
    position(absolute, false, false, false, 220px)
    min-width 80%
    margin-bottom 40px

    h1
        font(Oswald)
        uppercase()

    @media Tablet
        position(absolute, 10%, false, false, 8%)
        min-width 95%

        h1
            text-align center

    &.readAction
        @media Tablet
            position(absolute, 9%, false, false, 3%)

        @media iPhone5S
            position(absolute, 9%, false, false, 2%)

        a
            font(Oswald)
            resetLink($darkGray)
            uppercase()

            &:hover
                color $blue

        .search
            margin-bottom 20px
            position relative
            width 80%

            input[type="text"]
                fontSize(13px)
                position absolute
                color $darkGray
                height 23px
                margin-right 10px
                padding-left 5px
                padding-right 5px
                width 163px

            input[type="submit"]
                position absolute
                left 190px

    .Create
    .Update
        h2
            font(Oswald)
            uppercase()

        .errorBorder
            border 1px solid red

        .pointer
            cursor(pointer)

        .leftBlock
            float left
            width 65%

        .rightBlock
            float left
            width 30%

        .centralBlock
            float left
            width 90%

        .inputBlock
            label
                bold()

                .errorMessage
                    fontSize(12px)
                    color red

        .input
            height 40px
            padding 5px
            width 90%

        .textarea
            border($lightGray)
            height 400px
            padding 5px
            width 90%

        .select
            bg($white)
            border($lightGray)
            fontNormal()
            fontSize(16px)
            prefix(box-sizing, border-box)
            height 54px
            line-height 54px
            padding-left 5px
            text-transform capitalize
            vertical-align middle
            width 56%

        .submit
            text-transform capitalize

            @media Tablet
                display block
                margin-bottom 90px
                margin-top: 30px
                width 25%

        #codes
            font('Source Code Pro', 12px)
