.Content
    position(absolute, false, false, false, 220px)
    min-width 80%
    margin-bottom 40px

    @media Tablet
        position(absolute, 7%, false, false, 8%)

    .Create
        .errorBorder
            border 1px solid red

        .pointer
            cursor(pointer)

        .leftBlock
            float left
            width 65%

        .rightBlock
            float left
            width 30%

        .centralBlock
            float left
            width 90%

        .inputBlock
            label
                bold()

                .errorMessage
                    fontSize(12px)
                    color red

        .input
            height 40px
            padding 5px
            width 90%

        .textarea
            border($lightGray)
            height 400px
            padding 5px
            width 90%

        .select
            bg($white)
            border($lightGray)
            fontNormal()
            fontSize(16px)
            prefix(box-sizing, border-box)
            height 54px
            line-height 54px
            padding-left 5px
            text-transform capitalize
            vertical-align middle
            width 56%

        .submit
            text-transform capitalize

            @media Tablet
                display block
                margin-bottom 90px
                margin-top: 30px
                width 25%

        #codes
            font('Source Code Pro', 12px)
