body
    font('Open Sans')
    background-color $almostWhite
    background-image url('../../images/dashboard/bg.gif')
    background-position left
    background-repeat repeat-y
    margin 0
    padding 0

.pointer
    cursor pointer
