body
    font('Open Sans')
    background-color $almostWhite
    background-image url('../../images/dashboard/bg.gif')
    background-position left
    background-repeat repeat-y
    margin 0
    padding 0

    @media Tablet
        background $almostWhite

.pointer
    cursor pointer

.dashboardIcon
    &::before
        icon('f0e4', $lightGray, 1em, 0px, 0px, -20px)
.adsIcon
    &::before
        icon('f0a1', $lightGray, 1em, 0px, 0px, -20px)
.blogIcon
    &::before
        icon('f02d', $lightGray, 1em, 0px, 0px, -20px)
.configIcon
    &::before
        icon('f013', $lightGray, 1em, 0px, 0px, -20px)
.feedbackIcon
    &::before
        icon('f0e0', $lightGray, 1em, 0px, 0px, -20px)
.pagesIcon
    &::before
        icon('f1ea', $lightGray, 1em, 0px, 0px, -20px)
.pollsIcon
    &::before
        icon('f0f6', $lightGray, 1em, 0px, 0px, -20px)
.usersIcon
    &::before
        icon('f0c0', $lightGray, 1em, 0px, 0px, -20px)
.logoutIcon
    &::before
        icon('f0a5', $lightGray, 1em, 0px, 0px, -20px)
