.MainHeader
    background-color $almostBlack
    color $white
    height 40px
    width 100%

    .logo
        font(Oswald)
        float left
        margin-left 10px
        margin-top 10px
        text-transform uppercase

    .user
        float right
        margin-right 10px
        margin-top 10px