.MainHeader
    bg($almostBlack)
    color $white
    height 40px
    position relative
    width 100%
    z-index 1100

    @media Tablet
        position fixed

    .logo
        font(Oswald)
        position(absolute)
        margin-left 10px
        margin-top 10px
        text-transform uppercase

    .credits
        centerAbsolute(130px, 12px)
        fontSize(12px)
        position(absolute)

        a
            resetLink($blue)
            font-weight bold

            &:hover
                color $lightGray

    .user
        fontSize(14px)
        position(absolute)
        right 10px
        top 12px

    .menu
        ul
            resetList()
            padding-top 20px

            li
                fontSize(16px, bold)
                uppercase()
                height 40px
                line-height 40px
                position relative
                text-indent 10px

                a
                    resetLink($white)
                    padding 10px

                    .fa
                        display inline

                    &:hover
                    &:focus
                    &:active
                        bg($white)
                        color $black


        @media Tablet
            bg($almostBlack)
            position(absolute)
            padding-bottom 20px
            top 40px
            width 100%
            z-index 1000

    #openMenu
        .fa-caret-down
            display none

        @media Tablet
            z-index 1000
            &.opened
                centerAbsolute(28px, false, -445px)
            &.closed
                centerAbsolute(28px, false, -45px)
            .fa-caret-down
                cursor(pointer)
                fontSize(80px)
                display block
                color $almostBlack


