.Sidebar
    float left
    width 200px

    @media Tablet
        display none

    ul
        $resetList()
        position relative
        z-index 100

        li
            $fontSize(14px)
            height 40px
            line-height 40px
            position relative
            text-indent 40px

            a
                &.module
                    color $lightGray
                    display block
                    text-decoration none
                    text-indent 50px
                    width 100%
                &.create
                    $position(absolute, 0px, 10px)
                    color $lightGray

            &:hover
                background-color $headerDarkBlue

            &.dashboardIcon
                &::before
                    $faIcon('f0e4', $lightGray, 1em, 0px, 0px, -20px)
            &.adsIcon
                &::before
                    $faIcon('f0a1', $lightGray, 1em, 0px, 0px, -20px)
            &.blogIcon
                &::before
                    $faIcon('f02d', $lightGray, 1em, 0px, 0px, -20px)
            &.configIcon
                &::before
                    $faIcon('f013', $lightGray, 1em, 0px, 0px, -20px)
            &.contentIcon
                &::before
                    $faIcon('f1ab', $lightGray, 1em, 0px, 0px, -20px)
            &.feedbackIcon
                &::before
                    $faIcon('f0e0', $lightGray, 1em, 0px, 0px, -20px)
            &.pagesIcon
                &::before
                    $faIcon('f1ea', $lightGray, 1em, 0px, 0px, -20px)
            &.pollsIcon
                &::before
                    $faIcon('f0f6', $lightGray, 1em, 0px, 0px, -20px)
            &.usersIcon
                &::before
                    $faIcon('f0c0', $lightGray, 1em, 0px, 0px, -20px)
            &.logoutIcon
                &::before
                    $faIcon('f0a5', $lightGray, 1em, 0px, 0px, -20px)

    .credits
        $fontSize(12px)
        color $white
        text-align center
