/* Third parties */
@import url('../../bower_components/normalize-css/normalize.css')
@import url('../../bower_components/font-awesome/css/font-awesome.min.css')

/* Fonts */
@import '../_fonts'

/* Mixins */
@import '../_mixins'

/* Variables, fonts & global styles */
@import '../_vars'
@import '_global'
@import '../_utils'
@import '../_tables'
@import '../_flags'
@import '../_pagination'

/* Dashboard styles */
@import '../_alerts'
@import '../_elements'
@import '_header'
@import '_sidebar'
@import '_content'
@import '_media'
