/* Third parties */
@import url('../../bower_components/normalize-css/normalize.css')
@import url('../../bower_components/font-awesome/css/font-awesome.min.css')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600italic,700')
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro')
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700')

/* Mixins */
@import '../_mixins'

/* Variables, fonts & global styles */
@import '../_vars'
@import '_global'

/* Dashboard styles */
@import '../_elements'
@import '_header'
@import '_sidebar'
@import '_content'
@import '_footer'
