<!DOCTYPE html>
<html>
    <head>
        <title>Making Developers</title>
        <link href="/css/style.css" rel="stylesheet" />
    </head>

    <body>
        {{> site/header }}

        <div class="container">
            {{{ body }}}
        </div>
    </body>
</html>
