{{#compress}}
<!DOCTYPE html>
<html lang="{{ __.Site.language }}">
    <head>
        {{> site/metas }}
        <title>Making Developers</title>

        {{#css}}
        <link rel="stylesheet" href="{{ this }}" />
        {{/css}}
    </head>

    <body>
        {{> site/header }}

        <div class="container">
            {{{ body }}}
        </div>

        {{> development/livereload }}
    </body>
</html>
{{/compress}}
